/* Path: style.css */

h1 {
  color: #fff;
}

body {
  background-color: #3d3d3d;
  font-family: 'Changa One', cursive;
  display: flex;
  flex-direction: row;
}

#game-view{
  display: flex;
  flex-direction: row;
  max-height: 768px;
}

#game-container{
  position: relative;
  display: inline-block;
}

#game-over{
  position: absolute;
    top: 0;
    bottom: 10vh;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    color: white;
    -webkit-text-stroke: 3px black;
}

#score-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 80px;
  background: linear-gradient(
    to left bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

#score{
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 36px;
  color: white;
  -webkit-text-stroke: 2px black;
  display: flex;
  align-items: center;
}

#buildButtons-container{
  margin-left: 50px;
}

#buildButtons-container p {
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

.chosen-building{
  background-color: green;
}

#badbuild{
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#badbuild-button{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vh 2vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 1vh 1vw;
  cursor: pointer;
}

#mediumbuild{
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#mediumbuild-button{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vh 2vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 1vh 1vw;
  cursor: pointer;
}

#goodbuild{
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#goodbuild-button{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vh 2vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 1vh 1vw;
  cursor: pointer;
}

#playorpausewave{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#wave {
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

#start{
  background-color: #3d3d3d;
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#pause{
  background-color: #3d3d3d;
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#reset{
  background-color: #3d3d3d;
  color: #fff;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#canvas {
  background-color: #3d3d3d;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
}

#coins-container{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#coins{
  margin-right: 5px;
}

img {
  width: 30px;
  height: 30px;
}

#heart-container{
  display: flex;
  align-items: center;
}

